.filter-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-modal-content {
  width: 500px;
  background-color: var(--white-color);
}

.filter-modal-header,
.filter-modal-footer {
  padding: 10px;
}

.filter-modal-title {
  margin: 0;
}

.filter-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.close-filter-btn,
.clear-filter-btn {
  font-size: small;
  padding: 8px;
  border: none;
}
