.search-input-wrapper {
  border: 3px solid #d1d1d1;
  border-radius: 5px;
  width: 35rem;
  background-color: var(--white-color);
}

.fa-magnifying-glass,
.fa-filter {
  color: var(--icons-color);
  font-size: 1.5rem;
}

.fa-magnifying-glass {
  margin: 0 10px;
}

.fa-filter {
  margin-left: auto;
  margin-right: 10px;
}

.search-input {
  border: none;
  padding: 10px 0;
  background: transparent;
  outline: none;
  font-size: 1.2rem;
}
